<div style="margin:10px 0px 0px 10px">
	<div style="margin-top:10px"></div>
	<h4>Open project</h4>
	<div class="scrolling-container" {{bind-attr style="full_box_style"}}>
		{{#each project in displayProjects}}
			<div class="row">
				{{#if capabilities.delete_projects}}
					<div class="col-xs-9 clickable-url">
						{{#bs-button clicked="openProject" clickedParam=project.id type="light"}}
							{{project.name}}
						{{/bs-button}}
					</div>
					<div class="col-xs-3 button-align">
						{{bs-button clicked="deleteProject" clickedParam=project.id icon="fa fa-icon fa-trash" type="danger" size="sm"}}
					</div>
				{{else}}
					<div class="col-xs-11 clickable-url full-size">
						{{#bs-button clicked="openProject" clickedParam=project.id type="light"}}
							{{project.name}}
						{{/bs-button}}
					</div>
				{{/if}}
			</div>
		{{else}}
			<h5>No projects have been created yet.</h5>
		{{/each}}
	</div>
</div>