<div>
	<h5 style="text-align:center;">Choose an item field</h5>
	<div style="text-align:center; margin-top:10px">
		<h4>Item {{name}}</h4>
		{{#if fields}}
			<table style="margin:0 auto;">
				<tr class="small-label"> <td>Field</td> <td>Type</td> <td>Required</td> <td>Vary</td> </tr>
				{{#each field in fields}}
					<tr>
						<td><h5 style="color:#666">{{field.name}}</h5></td>
						<td><h5>{{field.type}}</h5></td>
						<td><h5>{{#if field.required}}yes{{else}}no{{/if}}</h5></td>
						<td><h5>{{#if field.vary}}yes{{else}}no{{/if}}</h5></td>
						<td style="padding-bottom:4px;">
							{{bs-button icon="fa fa-icon fa-check-circle" clicked="fieldSelected" clickedParam=name type="primary" size="xs"}}
						</td>
					</tr>
				{{/each}}
			</table>
		{{else}}
			<h5>The item has no fields.</h5>
		{{/if}}
	</div>
</div>