{{#unless view.creatingField}}
	<div>
		<span class="attribute">Map attribute</span>
		<span style="margin-left:44px" class="field">To field</span>
		<div style="display:inline-block;margin-top:2px;margin-left:50px">
			{{inline-help message="annotation_widget"}}
		</div>
		{{bs-button clicked="editAnnotation" clickedParam=controller.floatingAnnotation icon="fa fa-icon fa-gear" type="default" size="xs"}}
		{{bs-button clicked="deleteAnnotation" clickedParam=controller.floatingAnnotation icon="fa fa-icon fa-trash" type="default" size="xs"}}
	</div>
	{{#unless view.hasMultipleMappings}}
		<div style="margin-top:2px;">
			<div style="color:#333;">
				{{view view.attributeSelect}}
				{{view view.fieldSelect}}
				<div style="display:inline-block;margin-top:1px">
					<span {{action 'showCreateFieldWidget' target="view"}}>
						{{#bs-button icon="fa fa-icon fa-plus" type="default" size="xs"}}
							field
						{{/bs-button}}
					</span>
				</div>
			</div>
			<div style="width:320px;margin:5px;overflow-y:auto;max-height:50px;padding-right:4px">
				<span style="color:#777">Attribute value:</span>
				<span style="color:color:#BBB;word-wrap:break-word;">
					{{view 'collapsible-text' fullText=view.attributeValue trimTo=30}}
				</span>
			</div>
		</div>
	{{else}}
		<div>
			{{#each mapping in view.mappings}}
				<div class="multimap">
					<div style="display:inline-block;width:120px">{{mapping.name}}</div>
					<div style="display:inline-block;">{{mapping.mappedField}}</div>
				</div>
			{{/each}}
		</div>
	{{/unless}}
	<div style="text-align:center">
		{{#bs-button icon="fa fa-icon fa-check-circle" clicked="hideFloatingAnnotationWidget" type="default" size="xs"}}
			Done
		{{/bs-button}}
	</div>
{{else}}
	<div class="row">
		<div class="col-xs-6">
			<label class="small-label" style="margin-left:40px">Field name</label>
		</div>
		<div class="col-xs-6">
			<label class="small-label">Field type</label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			{{view view.fieldTextField width="110%"}}
		</div>
		<div class="col-xs-6 button-align-sm" style="color:#333;">
			<span>
				{{view view.typeSelect}}
			</span>
			<span {{action 'createField' target="view"}}>
				{{bs-button icon="fa fa-icon fa-check-circle" type="default" disabled=view.createFieldDisabled size="xs"}}
			</span>
		</div>
	</div>
{{/unless}}
