<div {{bind-attr class=panelHeaderClasses}} data-header="true">
    <h4 {{bind-attr class=panelTitleClasses}} style="cursor: pointer;">
        <a {{bind-attr class=panelTogglerClasses}}>
            {{view.title}}
        </a>
    </h4>
</div>
<div {{bind-attr class=panelBodyContainerClasses}}>
    <div class="section">{{yield}}</div>
</div>