<ul class="breadcrumb">
  {{#each breadCrumbs as |crumb index|}}
    <li class="crumbs {{if crumb.isCurrent 'current-crumb' 'inactive-crumb'}}">
      {{#if crumb.linkable}}
        {{#link-to crumb.path}}
          {{#if index}}
            {{crumb.label}}
          {{else}}
            <i class="fa fa-icon fa-home"></i>
          {{/if}}
        {{/link-to}}
      {{else}}
          {{#if index}}
            {{crumb.label}}
          {{else}}
            <i class="fa fa-icon fa-home"></i>
          {{/if}}
      {{/if}}
    </li>
  {{/each}}
</ul>
