<div class="editable-item-container">
    <div>
        <span style="margin:2px 0px 0px 10px">
            {{#inline-editable-text-field text=item.name validation='^[a-zA-Z0-9_-]+$'}}
                Item {{item.name}}
            {{/inline-editable-text-field}}
        </span>
        <span style="float:right">
            {{bs-button clicked="delete" icon="fa fa-icon fa-trash" type="danger" size="xs"}}
        </span>
    </div>
    <div style="margin-top:20px">
        {{#if item.fields}}
                <div class="row small-label">
                    <div class="col-xs-4">Field</div>
                    <div class="col-xs-3">Type</div>
                    <div class="col-xs-5">Required Vary</div>
                </div>
                <div class="row" style="color: #CCC;margin:0">
                    <div class="col-xs-4">url</div>
                    <div class="col-xs-4">url</div>
                    <div class="col-xs-1"><input type="checkbox" checked=true disabled=true></div>
                    <div class="col-xs-1"><input type="checkbox" checked=true disabled=true></div>
                    <div class="col-xs-1">{{bs-button icon="fa fa-icon fa-trash" type="danger" disabled=true size="xs"}}</div>
                </div>
                {{#each field in item.fields}}
                    <div class="row" style="margin:0">
                        <div class="col-xs-4 top-div">
                            <div class="field-name">
                                {{#inline-editable-text-field text=field.name validation='^[a-zA-Z0-9_-]+$'}}
                                    <span class="editable-name">{{field.name}}</span>
                                {{/inline-editable-text-field}}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            {{item-select options=extractionTypes value=field.type}}
                        </div>
                        <div class="col-xs-1" style="text-align:center;">
                            {{check-box checked=field.required}}
                        </div>
                        <div class="col-xs-1" style="text-align:center;">
                            {{check-box checked=field.vary}}
                        </div>
                        <div class="col-xs-1">
                            {{bs-button size="xs" icon="fa fa-icon fa-trash" type="danger" clicked="deleteField" clickedParam=field}}
                        </div>
                    </div>
                {{/each}}
        {{else}}
            <h5>No fields defined yet.</h5>
        {{/if}}
        <div style="text-align:center;margin-top:10px">
            {{#bs-button clicked="addField" icon="fa fa-icon fa-plus" type="primary" size="sm"}}
                Field
            {{/bs-button}}
        </div>
    </div>
</div>