<div style="text-align:left;margin-bottom:5px;">
    <div style="margin-bottom:2px">
        <span class="small-label yellow-label">URL:</span>
        <span class="link" {{action 'loadUrl' url}}>
            {{trim url 45}}
        </span>
    </div>
    <div>
        <span class="small-label yellow-label">Matched template:</span>
        <span class="link" {{action 'editTemplate' matchedTemplate}}>
            {{matchedTemplate}}
        </span>
    </div>
</div>
{{#each textField in textFields}}
    <div style="margin-bottom:2px">
        <span class="small-label blue-label">{{textField.name}}:</span>
        {{#each value in textField.value}}
            <span style="color:white;word-wrap:break-word;">
                {{collapsible-text fullText=value}}
            </span>
        {{/each}}
    </div>
{{/each}}
{{#each imageField in imageFields}}
    <div style="margin-bottom:2px">
        <span class="small-label blue-label">{{imageField.name}}:</span>
        {{#each value in imageField.value}}
            <span style="color:white;word-wrap:break-word;">{{value}}</span>
            <div style="margin:10px;text-align:center">
                <img src="{{value}}" width="200px" />
            </div>
        {{/each}}
    </div>
{{/each}}
{{#if variants}}
    <h3 class="important-label" style="margin:3px 0px 2px 0px">Variants</h3>
    {{#each variant in variants}}
        <div style="margin-bottom:3px">
            {{#each field in variant.fields}}
                <div style="margin-bottom:2px">
                    <span class="small-label green-label">{{field.name}}:</span>
                    {{#each value in field.value}}
                        <span style="color:white;word-wrap:break-word;">
                            {{collapsible-text fullText=value}}
                        </span>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{/each}}
{{/if}}
