{{#if isObject}}
    {{#if isConflict}}
        {{#if resolved}}
            <span style="color:green;font-weight:bold">RESOLVED TO {{selectedOption}}</span>
            <div {{action 'conflictOptionSelected' path null}} style="margin:5px 0px 0px 40px;background:#AEA;" class="conflict-option">
                <span style="font-weight:bold;color:green;margin:5px"> [CHANGE SELECTION] </span>
                {{resolvedValue}},
            </div>
        {{else}}
            <span style="color:red;font-weight:bold">CONFLICTED VALUE</span>
            <div style="margin-left:40px;">
                {{#each value in conflictValues}}
                    <div {{action 'conflictOptionSelected' path this.key}} class="conflict-option">
                        <div style="color:white">{{value.label}}:</div>
                        <div style="word-break:break-word">
                            {{value.value}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    {{else}}
        <div>{
            {{#each entry in entries}}
                <div style="margin:5px 5px 0px 20px;">
                    <span style="font-weight:bold">{{entry.key}}:</span>{{json-file-compare json=entry.json path=entry.path}}
                </div>
            {{/each}}
        },</div>
    {{/if}}
{{else}}
    {{value}},
{{/if}}
