<div style="text-align:center;font-size:1.1em;margin:10px 0px 10px 0px">
	{{#view ASTool.RenameTextField value=name}}
		<div class="editable-name">Template {{name}}</div>
	{{/view}}
</div>

<div class="accordion">
	<h3>Annotations</h3>
	<div class="section">
		{{#if annotations}}
			<div style="height:10px;font-weight:bold;color:#999">
				<span style="float:left;margin-left:5px;margin-right:5px;width:120px;text-align:center">Map attribute</span>
				<span style="float:left;width:120px;text-align:center">To field</span>
			</div>
			<div class="scrolling-container">
				{{#each annotations}}
					{{view ASTool.AnnotationWidget annotation=this templateName="annotation-widget"}}
				{{/each}}
			</div>
			{{else}}
				<h5>No annotations have been created yet.</h5>
		{{/if}}
	</div>
	
	<h3>Extracted item</h3>
	<div class="section" style="text-align:center;">
		<label class="small-label">Item type extracted by this template:</label> {{view ASTool.ItemSelect value=template.scrapes}}
		<div style="margin-top:10px">
			{{view ASTool.ButtonView action="editItems" argument=this label="Edit items" class="blue-button"}}
		</div>
	</div>

	<h3>Extractors</h3>
	<div class="section" style="text-align:center;">
		<div class="scrolling-container" style="max-height:250px;margin-top:0px">
			{{#each mappedFieldsData}}
				{{#view ASTool.ExtractorDropTarget fieldName=fieldName dragging=controller.draggingExtractor}}
					<div style="margin:10px 0px 10px 0px;border:solid 1px #EEE;padding:5px">
						 <span class="target"><b style="margin-right:10px">{{fieldName}}</b>[+Drop here]</span>
						 {{#if extractors}}
							<div style="margin:10px 0px 0px 0px"></div>
						{{/if}}
						{{#each extractors}}
							<div style="margin:4px 0px 4px 0px">
								{{#view ASTool.ExtractorView extractor=this}}
									<span>
										{{view.extractorTypeLabel}} {{view.extractorDefinition}}
									</span>
								{{/view}}
							</div>
						{{/each}}
					</div>
				{{/view}}
			{{else}}
				<h5>No field mappings have been defined yet.</h5>
			{{/each}}
		</div>
		<div style="margin-top:10px"></div>
		<h4>Drag extractors to the fields above to apply them</h4>
		<div class="scrolling-container ui-corner-all" style="max-height:100px;">
			{{#each extractors}}
				<div style="margin:4px 0px 4px 0px">
					{{#view ASTool.ExtractorView extractor=this}}
						<span>
							{{view.extractorTypeLabel}} {{view.extractorDefinition}}
						</span>
					{{/view}}
					{{view ASTool.ButtonView action="deleteExtractor" argument=this icon="ui-icon-trash" class="textless-button red-button"}}
				</div>
			{{else}}
				<h5>No extractors have been created yet.</h5>
			{{/each}}
		</div>
		<div style="margin:20px 0px 10px 0px">
			{{view ASTool.TextField value=newReExtractor width='140px' name='reExtractorField' placeholder='Enter a RegEx' action="createExtractor"}}
			<span class="very-small-label" style="margin-left:10px">or choose a type:</span>
			<span class="typeBox">{{view ASTool.ExtractorTypeSelect value=newTypeExtractor name='typeExtractorCombo'}}</span>
		</div>
			{{view ASTool.ButtonView action="createExtractor" icon="ui-icon-circle-plus" label="New extractor" disabled=createExtractorDisabled class="blue-button"}}
	</div>
	<h3>Required fields</h3>
	<div class="section">
		<h5>Check the fields whose required property you want to override:</h5>
		<div class="scrolling-container">
			{{#each mappedFieldsData}}
				<div style="margin:4px 0px 4px 10px;">
					{{view ASTool.RequiredFieldCheckbox checked=this.required fieldName=this.fieldName}}
					<span class="important-label">{{this.fieldName}}</span>
				</div>
			{{else}}
				<h5 style="text-align:center;color:#BBB">No field mappings have been defined yet.</h5>
			{{/each}}
		</div>
	</div>
</div>

{{#if controller.showFloatingAnnotationWidgetAt}}
	{{view ASTool.AnnotationWidget annotation=controller.floatingAnnotation inDoc=true pos=controller.showFloatingAnnotationWidgetAt templateName="floating-annotation-widget"}}
{{/if}}