{{#unless view.creatingField}}
	
	{{#unless view.hasMultipleMappings}}
		{{view view.attributeSelect}}
		{{view view.fieldSelect}}
		{{view ASTool.VariantSelect annotation=view.annotation}}
		<div style="margin-top:5px;padding:5px">
			<div style="display:inline-block;width:72%">
				<h5>Attribute value:</h5>
				<span style="color:black;word-wrap:break-word;">
					{{view ASTool.CollapsibleText fullText=view.attributeValue trimTo=40}}
				</span>
			</div>
			<div style="text-align:right;display:inline-block;width:24%">
				{{view ASTool.ButtonView action="editAnnotation" argument=this icon="ui-icon-gear" class="blue-button"}}
				{{view ASTool.ButtonView action="deleteAnnotation" argument=this icon="ui-icon-trash" class="red-button"}}
			</div>
		</div>

	{{else}}
		<div>
			<div style="display:inline-block;width:75%">
				{{#each view.mappings}}
					<div class="attribute multimap">{{this.name}}</div>
					<div class="field multimap" >{{this.mappedField}}</div>
				{{/each}}
			</div>
			<div style="text-align:right;display:inline-block;width:21%;">
				<div style="text-align:center;display:inline-block;width:60px;margin:4px">{{view.annotation.variant}}</div>
				{{view ASTool.ButtonView action="editAnnotation" argument=this icon="ui-icon-gear" class="blue-button"}}
				{{view ASTool.ButtonView action="deleteAnnotation" argument=this icon="ui-icon-trash" class="red-button"}}
			</div>
		</div>
	{{/unless}}
{{else}}
	<div style="float:right;margin-right:4px"{{action createField target="view"}}>{{view ASTool.ButtonView icon="ui-icon-circle-plus" class="blue-button fix_plus_icon" disabled=view.createFieldDisabled}}</div>
	
	<label class="small-label" style="margin-left:40px">Field name</label>
	<label class="small-label" style="margin-left:64px">Field type</label>
	<div style="margin-top:5px">
		{{view view.fieldTextField}}
		<span style="margin-left:15px">{{view view.typeSelect}}</span>
	</div>
{{/unless}}