<div class="editable-item-container">
	<div>
		<span style="margin:2px 0px 0px 10px">
			{{#view ASTool.InlineTextField value=name validate=true}}
				<span class="editable-name">Item {{name}}</span>
			{{/view}}
		</span>
		<span style="float:right">
			{{bs-button clicked="deleteItem" clickedParam=this icon="fa fa-icon fa-trash" type="danger" size="xs"}}
		</span>
	</div>
	<div style="margin-top:20px">
		{{#if view.item.fields}}
				<div class="row small-label">
					<div class="col-md-4">Field</div>
					<div class="col-md-2">Type</div>
					<div class="col-md-3">Required Vary</div>
				</div>
				<div class="row" style="color: #CCC;margin:0">
					<div class="col-md-4">url</div>
					<div class="col-md-4">url</div>
					<div class="col-md-1"><input type="checkbox" checked=true disabled=true></div>
					<div class="col-md-1"><input type="checkbox" checked=true disabled=true></div>
					<div class="col-md-1">{{bs-button icon="fa fa-icon fa-trash" type="danger" disabled=true size="xs"}}</div>
				</div>
				{{#each view.item.fields}}
					<div class="row" style="margin:0">
						<div class="col-md-4 top-div">
							<div class="field-name">
								{{#view ASTool.InlineTextField value=name validate=true}}
									<span class="editable-name">{{name}}</span>
								{{/view}}
							</div>
						</div>
						<div class="col-md-4">
							{{view ASTool.TypeSelect name="fieldType" value=type itemField=this}}
						</div>
						<div class="col-md-1" style="text-align:center;">
							{{view ASTool.CheckBox checked=required name="fieldRequired"}}
						</div>
						<div class="col-md-1" style="text-align:center;">
							{{view ASTool.CheckBox checked=vary name="fieldVary"}}
						</div>
						<div class="col-md-1">
							{{bs-button size="xs" icon="fa fa-icon fa-trash" type="danger" clicked="deleteField" clickedParam=view.item clickedParam2=this}}
						</div>
					</div>
				{{/each}}
		{{else}}
			<h5>No fields defined yet.</h5>
		{{/if}}
		<div style="text-align:center;margin-top:10px">
			{{#bs-button clicked="addField" clickedParam=this icon="fa fa-icon fa-plus" type="primary" small=true}}
				Field
			{{/bs-button}}
		</div>
	</div>
</div>