<div class="editable-item-container">
	<div>
		<span style="margin:2px 0px 0px 10px">
			{{#view ASTool.InlineTextField value=name validate=true}}
				<span class="editable-name">Item {{name}}</span>
			{{/view}}
		</span>
		<span style="float:right">
			{{bs-button clicked="deleteItem" clickedParam=this icon="fa fa-icon fa-trash" type="danger" size="xs"}}
		</span>
	</div>
	<div style="text-align:center;margin-top:20px">
		{{#if view.item.fields}}
			<table style="margin:0 auto;">
				<tr class="small-label"> <td>Field</td> <td>Type</td> <td>Required</td> <td>Vary</td> </tr>
				<tr style="color: #CCC;">
					<td>url</td>
					<td>url</td>
					<td><input type="checkbox" checked=true disabled=true></td>
					<td><input type="checkbox" checked=true disabled=true></td>
					<td>{{bs-button icon="fa fa-icon fa-trash" type="danger" disabled=true size="xs"}}</td>
				</tr>
				{{#each view.item.fields}}
					<tr>
						<td>
							{{#view ASTool.InlineTextField value=name validate=true}}
								<span class="editable-name">{{name}}</span>
							{{/view}}
						</td>
						<td>{{view ASTool.TypeSelect name="fieldType" value=type itemField=this}}</td>
						<td>{{view ASTool.CheckBox checked=required name="fieldRequired"}}</td>
						<td>{{view ASTool.CheckBox checked=vary name="fieldVary"}}</td>
						<td>{{bs-button size="xs" icon="fa fa-icon fa-trash" type="danger" clicked="deleteField" clickedParam=view.item clickedParam2=this}}
						</td>
					</tr>
				{{/each}}
			</table>
		{{else}}
			<h5>No fields defined yet.</h5>
		{{/if}}
		<div style="text-align:center;margin-top:10px">
			{{#bs-button clicked="addField" clickedParam=this icon="fa fa-icon fa-plus" type="primary" small=true}}
				Field
			{{/bs-button}}
		</div>
	</div>
</div>