<div class="editable-item-container">
	<div>
		<span style="margin:2px 0px 0px 10px">
			{{#view 'inline-text-field' value=item.name validate=true}}
				<span class="editable-name">Item {{item.name}}</span>
			{{/view}}
		</span>
		<span style="float:right">
			{{bs-button clicked="deleteItem" clickedParam=item icon="fa fa-icon fa-trash" type="danger" size="xs"}}
		</span>
	</div>
	<div style="margin-top:20px">
		{{#if item.fields}}
				<div class="row small-label">
					<div class="col-md-4">Field</div>
					<div class="col-md-3">Type</div>
					<div class="col-md-5">Required Vary</div>
				</div>
				<div class="row" style="color: #CCC;margin:0">
					<div class="col-md-4">url</div>
					<div class="col-md-4">url</div>
					<div class="col-md-1"><input type="checkbox" checked=true disabled=true></div>
					<div class="col-md-1"><input type="checkbox" checked=true disabled=true></div>
					<div class="col-md-1">{{bs-button icon="fa fa-icon fa-trash" type="danger" disabled=true size="xs"}}</div>
				</div>
				{{#each field in item.fields}}
					<div class="row" style="margin:0">
						<div class="col-md-4 top-div">
							<div class="field-name">
								{{#view 'inline-text-field' value=field.name validate=true}}
									<span class="editable-name">{{field.name}}</span>
								{{/view}}
							</div>
						</div>
						<div class="col-md-4">
							{{view 'type-select' name="fieldType" value=field.type itemField=field}}
						</div>
						<div class="col-md-1" style="text-align:center;">
							{{view 'check-box' checked=field.required name="fieldRequired"}}
						</div>
						<div class="col-md-1" style="text-align:center;">
							{{view 'check-box' checked=field.vary name="fieldVary"}}
						</div>
						<div class="col-md-1">
							{{bs-button size="xs" icon="fa fa-icon fa-trash" type="danger" clicked="deleteField" clickedParam=view.item clickedParam2=field}}
						</div>
					</div>
				{{/each}}
		{{else}}
			<h5>No fields defined yet.</h5>
		{{/if}}
		<div style="text-align:center;margin-top:10px">
			{{#bs-button clicked="addField" clickedParam=item icon="fa fa-icon fa-plus" type="primary" small=true}}
				Field
			{{/bs-button}}
		</div>
	</div>
</div>