{{#unless view.creatingField}}
	<div>
		<span class="attribute">Map attribute</span>
		<span style="margin-left:44px" class="field">To field</span>
		<div style="display:inline-block;margin-top:2px;margin-left:50px">
			{{view ASTool.InlineHelp message="annotation_widget"}}
		</div>
		<div style="display:inline-block;margin-left:6px;margin-top:-1px">
			{{view ASTool.ButtonView action="editAnnotation" argument=controller.floatingAnnotation icon="ui-icon-gear" class="clear-button"}}
		</div>
		<div style="display:inline-block;margin-left:-10px;margin-top:-1px">
			{{view ASTool.ButtonView action="deleteAnnotation" argument=controller.floatingAnnotation icon="ui-icon-trash" class="clear-button"}}
		</div>
	</div>
	{{#unless view.hasMultipleMappings}}
		<div style="margin-top:2px">
			{{view view.attributeSelect}}
			{{view view.fieldSelect}}
			<div style="display:inline-block;margin-top:1px">
				<span {{action showCreateFieldWidget target="view"}}>{{view ASTool.ButtonView icon="ui-icon-circle-plus" class="light-button" label="field"}}</span>
			</div>
			<div style="width:320px;margin:5px;overflow-y:auto;max-height:50px;padding-right:4px">
				<span style="color:#777">Attribute value:</span>
				<span style="color:color:#BBB;word-wrap:break-word;">
					{{view ASTool.CollapsibleText fullText=view.attributeValue trimTo=30}}
				</span>
			</div>
		</div>
	{{else}}
		<div>
			{{#each view.mappings}}
				<div class="multimapf">
					<div style="display:inline-block;width:120px">{{this.name}}</div>
					<div style="display:inline-block;">{{this.mappedField}}</div>
				</div>
			{{/each}}
		</div>
	{{/unless}}
	<div style="text-align:center">
	<span {{action dismiss target="view"}}>{{view ASTool.ButtonView label="Done" icon="ui-icon-circle-check" class="light-button"}}</span>
</div>
{{else}}
	<label style="margin-left:0px;">Field name</label>
	<label style="margin-left:70px;">Field type</label>
	<div style="margin-top:5px">
		{{view view.fieldTextField width=115 class="darktextfield"}}
		<span style="margin-left:6px">{{view view.typeSelect}}</span>
		<span {{action createField target="view"}}>{{view ASTool.ButtonView icon="ui-icon-circle-check" class="clear-button" disabled=view.createFieldDisabled}}</span>
	</div>
{{/unless}}
