{{#if view.isObject}}
	{{#if view.isConflict}}
		{{#if view.resolved}}
			<span style="color:green;font-weight:bold">RESOLVED TO {{view.selectedOption}}</span>
			<div {{action conflictOptionSelected view.path null}} style="margin:5px 0px 0px 40px;background:#AEA;" class="conflict-option">
				<span style="font-weight:bold;color:green;margin:5px"> [CHANGE SELECTION] </span>
				{{view.resolvedValue}},
			</div>
		{{else}}
			<span style="color:red;font-weight:bold">CONFLICTED VALUE</span>
			<div style="margin-left:40px;">
				{{#each view.conflictValues}}
					<div {{action conflictOptionSelected view.path this.key}} class="conflict-option">
						<div style="color:white">{{this.label}}:</div>
						<div style="word-break:break-word">
							{{this.value}}
						</div>
					</div>
				{{/each}}
			</div>
		{{/if}}
	{{else}}
		<div>{
			{{#each view.entries}}
				<div style="margin:5px 5px 0px 20px;">
					<span style="font-weight:bold">{{this.key}}:</span>{{view ASTool.JSONView json=this.json path=this.path}}
				</div>
			{{/each}}
		},</div>
	{{/if}}
{{else}}
	{{view.value}},
{{/if}}
