
<div style="text-align:center;margin:10px 0px 10px 0px">
	<h4>Annotation options</h4>
</div>
<div class="accordion">
	<h3>Selected region</h3>
	<div>
		<h4>Ancestors</h4>{{view 'inline-help' message="selected_region_ancestors"}}
		<div class="scrolling-container" style="max-height:180px;">
			<ul style="list-style-type:none;padding:0px;margin:0px">
				{{#each path in ancestorPaths}}
					<li style="float:left; padding:3px 2px 3px 2px;">
						{{view 'css-path-widget' action="selectElement" argument=path.element label=path.label minWidth="73px" class="btn btn-light"}}
					</li>
				{{/each}}
			</ul>
		</div>
		<br/>
		<h4>Children</h4>{{view 'inline-help' message="selected_region_children"}}
		<div class="scrolling-container" style="max-height:180px;">
			<ul style="list-style-type:none;padding:0px;margin:0px">
				{{#each path in childPaths}}
					<li style="float:left;padding:3px 2px 3px 2px;">
						{{view 'css-path-widget' action="selectElement" argument=path.element label=path.label  minWidth="73px" class="btn btn-light"}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>

	<h3>Attribute mappings</h3>
	<div>
		{{#unless mappingAttribute}}
			<h4>Not mapped</h4>
			<div class="scrolling-container" style="max-height:180px;">
				{{#each attr in unmappedAttributes}}
					<div class="attribute-field-mapping">
						{{#view 'elem-attribute' attribute=attr}}
							<div>
								<div class="attribute-name">{{view.name}}</div>
								<span style="float:right">
									{{bs-button clicked="mapAttribute" clickedParam=attr icon="fa fa-icon fa-exchange" type="primary" size="xs"}}
									{{bs-button clicked="makeSticky" clickedParam=attr icon="fa fa-icon fa-thumb-tack" type="primary" title="Make this attribute sticky" size="xs"}}
								</span>
							</div>
							<div class="attribute-val">{{view.value}}</div>
						{{/view}}
					</div>
				{{else}}
					<h5>No unmapped attributes.</h5>
				{{/each}}
			</div>

			<div style="margin-bottom:10px"></div>

			<h4>Mapped</h4>
			<div class="scrolling-container" style="max-height:180px;">
				{{#each attr in mappedAttributes}}
					<div class="attribute-field-mapping" style="padding-bottom:14px">
						{{#view 'elem-attribute' attribute=attr}}
							<div class="attribute-name">{{view.name}} -> {{view.field}}</div>
							<span style="float:right">
								{{bs-button clicked="unmapAttribute" clickedParam=attr icon="fa fa-icon fa-trash" type="danger" size="xs"}}
							</span>
						{{/view}}
					</div>
				{{else}}
					<h5>No mapped attributes.</h5>
				{{/each}}
			</div>

			<div style="margin-bottom:10px"></div>

			<h4>Required attributes</h4>{{view 'inline-help' message="sticky_fields"}}
			<div class="scrolling-container" style="max-height:180px;">
				{{#each attr in stickyAttributes}}
					<div class="attribute-field-mapping" style="padding-bottom:14px">
						{{#view 'elem-attribute' attribute=attr}}
							<div class="attribute-name">{{view.name}}</div>
							<span style="float:right">
								{{bs-button clicked="unmapAttribute" clickedParam=attr icon="fa fa-icon fa-trash" type="danger" size="xs"}}
							</span>
						{{/view}}
					</div>
				{{else}}
					<h5>No required attributes.</h5>
				{{/each}}
			</div>
		{{else}}
			{{render "item" controller.scrapedItem}}
		{{/unless}}
	</div>

	<h3>Ignored subregions</h3>
	<div style="text-align:center">
		<div class="scrolling-container">
			{{#each ignore in model.ignores}}
				<div>
					{{#view 'ignore-widget' ignore=ignore}}
						<div class="ignore-widget">
							<label class="small-label">Ignore elements beneath</label>
							{{view 'check-box' checked=ignore.ignoreBeneath name="ignoreBeneath"}}
						</div>
						{{bs-button clicked="deleteIgnore" clickedParam=ignore icon="fa fa-icon fa-trash" type="danger" size="xs"}}
					{{/view}}

				</div>
				{{else}}
					<h5>No ignored subregions defined.</h5>
			{{/each}}
		</div>
		<div style="margin-top:10px;">
			{{view 'toggle-button' checked=selectingIgnore icon="ui-icon-cancel" id="addIgnore" name="addIgnore"}}
			<label for="addIgnore">Ignore region</label>{{view 'inline-help' message="ignored_subregions"}}
		</div>
	</div>

	<h3>Variant</h3>
	<div>
		<div class="variantBox" style="margin-right:20px">
			<label class="important-label">Choose a variant:</label>
			{{view 'variant-select' annotation=model}}
			{{view 'inline-help' message="variant"}}
		</div>
	</div>
</div>
<br/>
<div style="text-align:center">
{{#bs-button clicked="doneEditing" icon="fa fa-icon fa-check-circle" type="primary"}}
	Save changes
{{/bs-button}}
{{#bs-button clicked="cancelEdit" icon="fa fa-icon fa-times-circle" type="danger"}}
	Discard changes
{{/bs-button}}
</div>