<div style="margin:10px 0px 0px 10px">
	<div style="text-align:center;font-size:1.1em;margin-bottom:5px">
		{{#view ASTool.RenameTextField value=name}}
			<span class="editable-name">Project {{name}}</span>
		{{/view}}
	</div>

	<h4>Spiders</h4>
	<div>
		<div class="scrolling-container" style="max-height:600px">
			{{#each}}
				<div style="margin:4px 0px 4px 0px">
					{{view ASTool.ButtonView action="editSpider" argument=this label=this minWidth="82%" class="light-button"}}
					{{view ASTool.ButtonView action="deleteSpider" argument=this icon="ui-icon-trash" class="red-button"}}
				</div>
			{{else}}
				<h3>No spiders for this project.</h3>
			{{/each}}
		</div>
	</div>
	{{#if controller.versionControl}}
		<div style="text-align:center;font-size:1.1em;margin-top:10px">
			{{view ASTool.ButtonView action="publishProject" icon="ui-icon-circle-arrow-n" label="Publish" class="blue-button"}}
			{{view ASTool.ButtonView action="discardChanges" icon="ui-icon-trash" label="Discard changes" class="red-button"}}
		</div>
	{{/if}}
</div>

