<div style="margin:10px 0px 0px 10px">
	<div style="text-align:center;font-size:1.1em;margin-bottom:5px">
		{{#ifHasCapability 'rename_projects'}}
			{{#view ASTool.RenameTextField value=name}}
				<span class="editable-name">Project {{name}}</span>
			{{/view}}
		{{else}}
			<h4>Project {{name}}</h4>
		{{/ifHasCapability}}
	</div>

	<h4>Spiders</h4>
	<div>
		<div class="input-group col-md-11">
			{{input value=filterSpider class="form-control" placeholder="Filter Spiders"}}
			<div class="input-group-addon"><span class="fa fa-search"></span></div>
		</div>
		<div class="scrolling-container" style="max-height:600px">
			{{#each controller.filteredSpiders}}
				<div class="row">
					<div class="col-md-9 clickable-url">
						{{#bs-button clicked="editSpider" clickedParam=this type="light"}}
							{{this}}
						{{/bs-button}}
					</div>
					<div class="col-md-3">
						{{bs-button clicked="deleteSpider" clickedParam=this icon="fa fa-icon fa-trash" type="danger"}}
					</div>
				</div>
			{{else}}
				{{#if controller.filterSpider}}
					<h4>No Spiders matching "{{controller.filterSpider}}" found in this project.</h4>
				{{else}}
					<h4>No spiders for this project.</h4>
				{{/if}}
			{{/each}}
		</div>
	</div>
	{{#ifHasCapability 'version_control'}}
		{{#if controller.hasChanges}}
			<div style="text-align:center;font-size:1.1em;margin-top:10px">
				{{#bs-button clicked="publishProject" icon="fa fa-icon fa-upload" type="primary"}}
					Publish changes
				{{/bs-button}}
				{{#bs-button clicked="discardChanges" icon="fa fa-icon fa-trash" type="danger"}}
					Discard Changes
				{{/bs-button}}
			</div>
		{{else}}
			{{#ifHasCapability 'deploy_projects'}}
				<div style="text-align:center;font-size:1.1em;margin-top:10px">
					{{#bs-button clicked="deployProject" icon="fa fa-icon fa-upload" type="primary" disabled=controller.isDeploying}}
						Deploy
					{{/bs-button}}
				</div>
			{{/ifHasCapability}}
		{{/if}}
	{{/ifHasCapability}}
</div>

