<div id="topbar" class="navbar navbar-default">
	<div class="nav-container">
		{{render "navigation"}}
	</div>

	<div class="nav-container button-align">
		<span style="float:left">
			{{bs-button clicked="browseBack" icon="fa fa-icon fa-arrow-left" small=true disabled=browseBackDisabled}}
		</span>
		<span style="float:left">
			{{bs-button clicked="reload" icon="fa fa-icon fa-refresh" small=true disabled=reloadDisabled}}
		</span>

		<span class="url">
			{{#view ASTool.LabelWithTooltip title=controller.currentUrl}}
				{{controller.currentUrl}}
			{{/view}}
		</span>
	</div>

	<div class="nav-container button-align white-text">
		{{#unless addTemplateDisabled}}
			{{#bs-button type="danger" clicked="addTemplate" small=true}}
				Annotate this page
			{{/bs-button}}
		{{/unless}}

		{{#unless showItemsDisabled}}
			{{#bs-button clicked="toggleShowItems" type="black" small=true}}
				{{itemsButtonLabel}}
			{{/bs-button}}
		{{/unless}}

		{{#if showNoItemsExtracted}}
			<span class="small-label">
				No items extracted
			</span>
		{{/if}}

		{{#if saving}}
			<span class="small-label red-label" style="float:left;margin:5px 0px 0px 10px;">
				Saving spider...
			</span>
		{{/if}}
	</div>
	<span class="pull-right" style="margin-top: 6px;">
		 {{bs-label content="Beta" type="danger"}}
	</span>

		{{#if showItems}}
			{{#if controller.extractedItems.length}}
				<div class="extracted-items-container">
					<span style="float:right">
						{{bs-button clicked="toggleShowItems" type="default" icon="fa fa-icon fa-close"}}
					</span>
					<h3 style="text-align:center" class="important-label">Displaying {{controller.extractedItems.length}} extracted items</h3>
					<div style="max-height:500px; padding:8px;" class="scrolling-container">
						{{#each item in controller.extractedItems}}
							<hr style="margin:0px;background-color:rgba(70,70,70,1)"/>
							<div style="padding:10px 0px 10px 0px; border-bottom: 1px groove rgba(255,255,255,0.2);">
								{{#view ASTool.ExtractedItemView extractedItem=item}}
									<div style="text-align:left;margin-bottom:5px;">
										<div style="margin-bottom:2px">
											<span class="small-label yellow-label">URL:</span>
											<span class="link" {{action fetchPage view.url}}>
												{{trim view.url 45}}
											</span>
										</div>
										<div>
											<span class="small-label yellow-label">Matched template:</span>
											<span class="link" {{action editTemplate view.matchedTemplate}}>
												{{view.matchedTemplate}}
											</span>
										</div>
									</div>
									{{#each textField in view.textFields}}
										<div style="margin-bottom:2px">
											<span class="small-label blue-label">{{textField.name}}:</span>
											{{#each value in textField.value}}
												<span style="color:white;word-wrap:break-word;">
													{{view ASTool.CollapsibleText fullText=value}}
												</span>
											{{/each}}
										</div>
									{{/each}}
									{{#each imageField in view.imageFields}}
										<div style="margin-bottom:2px">
											<span class="small-label blue-label">{{imageField.name}}:</span>
											{{#each value in imageField.value}}
												<span style="color:white;word-wrap:break-word;">{{value}}</span>
												<div style="margin:10px;text-align:center">{{view ASTool.ImageView src=value width="200px"}}</div>
											{{/each}}
										</div>
									{{/each}}
									{{#if view.variants}}
										<h3 class="important-label" style="margin:3px 0px 2px 0px">Variants</h3>
										{{#each variant in view.variants}}
											<div style="margin-bottom:3px">
												{{#each field in variant.fields}}
													<div style="margin-bottom:2px">
														<span class="small-label green-label">{{field.name}}:</span>
														{{#each value in field.value}}
															<span style="color:white;word-wrap:break-word;">
																{{view ASTool.CollapsibleText fullText=value}}
															</span>
														{{/each}}
													</div>
												{{/each}}
											</div>
										{{/each}}
									{{/if}}
								{{/view}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/if}}
		{{/if}}
	</div>
</div>
