
<div style="text-align:center;margin:10px 0px 10px 0px">
	<h4>Anotation options</h4>
</div>
<div class="accordion">
	<h3>Selected region</h3>
	<div>
		<h4>Ancestors</h4>
		<div class="scrolling-container" style="max-height:180px;">
			<ul style="list-style-type:none;padding:0px;margin:0px">
				{{#each ancestorPaths}}
					<li style="float:left; padding:3px 2px 3px 2px; font-size:0.8em !important;">
						{{view ASTool.CSSPathWidget action="selectElement" argument=this.element label=this.label minWidth="73px" class="clear-button"}}
					</li>
				{{/each}}
			</ul>
		</div>
		<br/>
		<h4>Children</h4>
		<div class="scrolling-container" style="max-height:180px;">
			<ul style="list-style-type:none;padding:0px;margin:0px">
				{{#each childPaths}}
					<li style="float:left; padding:3px 2px 3px 2px; font-size:0.8em !important;">
						{{view ASTool.CSSPathWidget action="selectElement" argument=this.element label=this.label  minWidth="73px" class="clear-button"}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>

	<h3>Attribute mappings</h3>
	<div>
		{{#unless mappingAttribute}}
			<h4>Not mapped</h4>
			<div class="scrolling-container ui-corner-all" style="max-height:180px;">	
				{{#each unmappedAttributes}}
					<div style="margin:4px 0px 4px 0px">
						{{view ASTool.ElemAttributeView minWidth='80%' maxWidth='80%' action="mapAttribute" argument=this}}
					     {{view ASTool.ButtonView action="makeSticky" argument=this icon="ui-icon-pin-s" class="textless-button"}}
					</div>
				{{/each}}
			</div>

			<h4>Mapped</h4>
			<div class="scrolling-container ui-corner-all" style="max-height:180px;">
				{{#each mappedAttributes}}
					<div style="margin:4px 0px 4px 0px">
						{{view ASTool.ElemAttributeView mapped=true minWidth='90%' maxWidth='90%' action="unmapAttribute" argument=this}}
					</div>
				{{/each}}
			</div>

			<h4>Sticky</h4>
			<div class="scrolling-container ui-corner-all" style="max-height:180px;">	
				{{#each stickyAttributes}}
					<div style="margin:4px 0px 4px 0px">
						{{view ASTool.ElemAttributeView minWidth='90%' maxWidth='90%' action="unmapAttribute" argument=this}}
					</div>
				{{/each}}
			</div>
		{{else}}
			{{render "item" controller.scrapedItem}}
		{{/unless}}
	</div>
	
	<h3>Ignored subregions</h3>
	<div style="text-align:center">
		<div class="scrolling-container">
			{{#each model.ignores}}
				<div>
					{{#view ASTool.IgnoreWidget ignore=this}}
						<div style="margin:4px 0px 4px 0px;border:dotted 1px #CCC;width:250px;padding:3px;text-align:center;display:inline-block">
							<label class="small-label">Ignore elements beneath</label>
							{{view ASTool.CheckBox checked=this.ignoreBeneath name="ignoreBeneath"}}
						</div>
						{{view ASTool.ButtonView action="deleteIgnore" argument=this icon="ui-icon-trash" class="textless-button red-button"}}
					{{/view}}
					
				</div>
				{{else}}
					<h5>No ignored subregions defined.</h5>
			{{/each}}
		</div>
		<div style="margin-top:10px;">
			{{view ASTool.ToggleButton checked=selectingIgnore icon="ui-icon-cancel" id="addIgnore" name="addIgnore"}}
			<label for="addIgnore">Ignore region</label>
		</div>
	</div>

	<h3>Variant</h3>
	<div>
		<div class="variantBox" style="margin-right:20px">
			<label class="important-label">Choose a variant:</label>
			{{view ASTool.VariantSelect value=variant}}
		</div>
	</div>
</div>
<br/>
<div style="text-align:center">
{{view ASTool.ButtonView action="doneEditing" icon="ui-icon-circle-check" label="Save changes" class="blue-button"}}
{{view ASTool.ButtonView action="cancelEdit" icon="ui-icon-circle-close" label="Discard changes" class="red-button"}}
</div>