<div class="container ui-corner-all">
	<h3 style="font-size:0.8em;color:#888;word-wrap:break-word;margin 5px 0px 5px 0px"><b>Page URL:</b> {{template.url}}</h3>
	{{#view ASTool.RenameTextField value=name}}
  		<span class="editable-name" style="word-wrap:break-word;"><h3>Template {{name}}</h3></span>
	{{/view}}
	<div class="accordion" style="margin-bottom: 10px">
		<h3>Annotations</h3>
		<div>
			<div class="scrolling-container ui-corner-all">
				{{#each}}
					<div style="margin:4px 0px 4px 0px">
						{{view ASTool.AnnotationWidget action="editAnnotation" argument=this label=name minWidth="82%" icon="ui-icon-wrench"}}
						{{view ASTool.ButtonView action="deleteAnnotation" argument=this icon="ui-icon-trash" class="textless-button"}}
					</div>
					{{else}}
						<h5>No annotations have been defined yet.</h5>
				{{/each}}
			</div>
			<div style="margin-top:10px">
				{{view ASTool.ButtonView action="addAnnotation" icon="ui-icon-circle-plus" label="New annotation"}}
			</div>
		</div>
		<h3>Extractors</h3>
		<div>
			<h5>Applied extractors</h5>
			<div class="scrolling-container ui-corner-all" style="max-height:100px;">
				{{#each mappedFieldsData}}
					<div style="margin:5px 0px 20px 0px">
						{{#view ASTool.ExtractorDropTarget fieldName=fieldName dragging=controller.draggingExtractor}}
							<b>{{controller.template.scrapes}}.{{fieldName}}</b> <span>[+Drop extractors here]</span>
						{{/view}}
						{{#if extractors}}
							<div style="margin:10px 0px 0px 0px"></div>
						{{/if}}
						{{#each extractors}}
							<div style="margin:4px 0px 4px 0px">
								{{#view ASTool.ExtractorView extractor=this}}
									<span>
										{{view.extractorTypeLabel}} {{view.extractorDefinition}}
									</span>
								{{/view}}
								{{view ASTool.ButtonView action="removeAppliedExtractor" argument=this icon="ui-icon-trash" class="textless-button"}}
							</div>
						{{/each}}
					</div>
				{{else}}
					<h5>No field mappings have been defined yet.</h5>
				{{/each}}
			</div>
			<div style="margin-top:10px"></div>
			<h5>Drag extractors to the fields above to apply them</h5>
			<div class="scrolling-container ui-corner-all" style="max-height:100px;">
				{{#each extractors}}
					<div style="margin:4px 0px 4px 0px">
						{{#view ASTool.ExtractorView extractor=this}}
							<span>
								{{view.extractorTypeLabel}} {{view.extractorDefinition}}
							</span>
						{{/view}}
						{{view ASTool.ButtonView action="deleteExtractor" argument=this icon="ui-icon-trash" class="textless-button"}}
					</div>
				{{else}}
					<h5>No extractors have been created yet.</h5>
				{{/each}}
			</div>
			<div style="margin:20px 0px 10px 0px">
				{{view ASTool.TextField value=newReExtractor width='122px' name='reExtractorField' placeholder='Enter a RegEx'}}
				<span class="small-label">or choose a type:</span>
				<span class="typeBox">{{view ASTool.ExtractorTypeSelect value=newTypeExtractor name='typeExtractorCombo'}}</span>
			</div>
				{{view ASTool.ButtonView action="createExtractor" icon="ui-icon-circle-plus" label="New extractor" disabled=createExtractorDisabled}}
		</div>
		<h3>Required fields</h3>
		<div>
			<div class="scrolling-container ui-corner-all">
				{{#each mappedFieldsData}}
					<div style="margin:4px 0px 4px 0px">
						{{controller.template.scrapes}}.{{this.fieldName}}
						{{view ASTool.RequiredFieldCheckbox checked=this.required fieldName=this.fieldName}}
					</div>
					{{else}}
						<h5>No field mappings have been defined yet.</h5>
				{{/each}}
			</div>
		</div>
	</div>
	<hr/>
	{{view ASTool.ButtonView action="back" icon=" ui-icon-circle-triangle-w" label="Back to spider"}}
</div>