<div>
	<h5>Choose an item field</h5>
	<div style="text-align:center; margin-top:20px">
		<h4>Item {{name}}</h4>
		{{#if fields}}
			<table style="margin:0 auto;">
				<tr style="font-size:0.9em;font-weight:bold;color:#999"> <td>Field</td> <td>Type</td> <td>Required</td> <td>Vary</td> </tr>
				{{#each fields}}
					<tr>
						<td><h4 style="color:#333">{{name}}</h4></td>
						<td><h4>type</h4></td>
						<td><h4>{{#if required}}yes{{else}}no{{/if}}</h4></td>
						<td><h4>{{#if vary}}yes{{else}}no{{/if}}</h4></td>
						<td style="padding-bottom:4px;">{{view ASTool.ButtonView icon="ui-icon-circle-triangle-e"  action="fieldSelected" argument=name class="textless-button blue-button"}}</td>
					</tr>
				{{/each}}
			</table>
		{{else}}
			<h5>The item has no fields.</h5>
		{{/if}}
	</div>
</div>