<span class="mediumLabel">Name </span>
{{view JQ.EditField owner=view.item value=view.item.name class="mediumtextarea"}}
{{view JQ.ButtonView action="addField" argument=this icon="ui-icon-circle-plus" label="New field"}}
<div style="text-align: center; margin-top:10px">
	{{#if view.item.fields}}
		<table style="margin: 0 auto;">
			<tr class="smallLabel"> <td>Field name</td> <td>Type</td> <td>Required</td> <td>Vary</td> </tr>
			{{#each view.item.fields}}
				<tr>
					<td>{{view JQ.TextField owner=this value=name class="mediumtextarea"}}</td>
					<td>{{view ASTool.TypeSelect owner=this selection=type}}</td>
					<td>{{view ASTool.EditBox owner=this checked=required}}</td>
					<td>{{view ASTool.EditBox owner=this checked=vary}}</td>
					{{#if view.mappingAttribute}}
						<td>{{view JQ.ButtonView action="chooseField" argument=this icon="ui-icon-circle-triangle-e" label="Choose"}}</td>
					{{/if}}
				</tr>
			{{/each}}
		</table>
	{{else}}
		<h4>No fields defined yet.</h4>
	{{/if}}
</div>