<div class="container ui-corner-all">
	<div class="accordion" style="margin-bottom: 10px">
		<h3>Items</h3>
		<div>
			{{#if mappingAttribute}}
				<h4>Choose an item field to map "{{mappingAttribute.name}}"</h4>
				<hr/>
			{{/if}}
			<div class="scrolling-container ui-corner-all">
				{{#each model}}
					{{view ASTool.ItemView item=this mappingAttribute=controller.mappingAttribute}}
					<hr/>
			 	{{else}}
			 		<h4>No items have been defined yet.</h4>
					<hr/>
			 	{{/each}}
			 </div>
			{{view ASTool.ButtonView action="addItem" icon="ui-icon-circle-plus" label="New item"}}
			{{view ASTool.ButtonView action="back" icon="ui-icon-circle-triangle-w" label="Back"}}
			{{view ASTool.ButtonView action="undoChanges" icon="ui-icon-arrowreturnthick-1-w" label="Undo changes"}}
		</div>
	</div>
</div>