<span class="smallLabel">Name </span>
{{view ASTool.TextField owner=view.item value=view.item.name class="mediumtextarea"}}
{{view ASTool.ButtonView action="addField" argument=this icon="ui-icon-circle-plus" label="New field"}}
<div style="text-align: center; margin-top:10px">
	{{#if view.item.fields}}
		<table style="margin: 0 auto;">
			<tr class="smallLabel"> <td>Field name</td> <td>Type</td> <td>Required</td> <td>Vary</td> </tr>
			{{#each view.item.fields}}
				<tr>
					<td>{{view ASTool.TextField value=name class="mediumtextarea" name="fieldName" width="65px"}}</td>
					<td class="typeBox">{{view ASTool.TypeSelect name="fieldType" value=type itemField=this}}</td>
					<td>{{view ASTool.CheckBox checked=required name="fieldRequired"}}</td>
					<td>{{view ASTool.CheckBox checked=vary name="fieldVary"}}</td>
					{{#if view.mappingAttribute}}
						<td>{{view ASTool.ButtonView action="chooseField" argument=this icon="ui-icon-circle-triangle-e" label="Map"}}</td>
					{{/if}}
				</tr>
			{{/each}}
		</table>
	{{else}}
		<h4>No fields defined yet.</h4>
	{{/if}}
</div>