<div id="breadcrumb" class="breadCrumb">
	<ul>
		{{#if previousRoutes}}		
			{{#each previousRoutes}}
				<li>
					<a href="#"{{action "gotoRoute" this.route}}>{{this.label}}</a>
				</li>
			{{/each}}
			<li>
				{{currentRoute.label}}
			</li>
		{{else}}
			<li>
				<a href="#"{{action "gotoRoute" this.route}}>{{currentRoute.label}}</a>
			</li>
		{{/if}}
	</ul>
</div>
	

