<div class="container ui-corner-all">
	<div class="accordion" style="margin-bottom: 10px">
		<h3>Projects</h3>
		<div>
			<div style="margin:10px 0px 10px 10px;">
				<div style="margin-top:20px"></div>
				{{view ASTool.TextField value=projectSite width='230px' name='projectSiteTextField' placeholder='Enter site url' action="createProject"}}
				{{view ASTool.ButtonView action="createProject" icon="ui-icon-circle-plus" label="New project" class="blue-button"}}
				<div style="margin-top:35px"></div>
				<h4>Open project</h4>
				<div style="margin-top:10px"></div>
				<div class="scrolling-container ui-corner-all">
					{{#each}}
						<div style="margin:4px 0px 4px 0px">
							{{view ASTool.ButtonView action="openProject" argument=this label=this minWidth='82%' class="clear-button"}}
							{{view ASTool.ButtonView action="deleteProject" argument=this icon="ui-icon-trash" class="textless-button light-button"}}
						</div>
					{{else}}
						<h5>No projects have been created yet.</h5>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
