<div class="container ui-corner-all">
	{{#view ASTool.RenameTextField value=name}}
  		<h3 class="editable-name ui-corner-all">Project {{name}}</h3>
	{{/view}}
	<div class="accordion" style="margin-bottom:10px">
		<h3>Spiders for this project:</h3>
		<div>
			<div class="scrolling-container ui-corner-all">
				{{#each}}
					<div style="margin:4px 0px 4px 0px">
						{{view ASTool.ButtonView action="editSpider" argument=this label=this minWidth="82%" icon="ui-icon-wrench"}}
						{{view ASTool.ButtonView action="deleteSpider" argument=this icon="ui-icon-trash" class="textless-button"}}
					</div>
				{{else}}
					<h3>No spiders for this project.</h3>
				{{/each}}
			</div>
			<div style="margin-top:10px">
				{{view ASTool.ButtonView action="addSpider" icon="ui-icon-circle-plus" label="New spider"}}
			</div>
		</div>
	</div>
	{{view ASTool.ButtonView action="back" icon="ui-icon-circle-triangle-w" label='Back to project list'}}
	{{view ASTool.ButtonView action="gotoItems" argument=this icon="ui-icon-circle-triangle-e" label='Items'}}
</div>