<div class="container ui-corner-all">
	{{#view ASTool.RenameTextField value=id}}
  		<h3 class="editable-name">Spider {{id}}</h3>
	{{/view}}
	<div class="accordion" style="margin-bottom: 10px">	
		<h3>Start URLs</h3>
		<div>
			<div class="scrolling-container ui-corner-all" style="max-height: 150px;">
				{{#each start_urls}}
					<div style="margin: 4px 0px 4px 0px">
						{{view ASTool.ButtonView action="fetchPage" argument=this label=this minWidth='82%' title=this icon="ui-icon-folder-open"}}
						{{view ASTool.ButtonView action="deleteStartUrl" argument=this icon="ui-icon-trash" class="textless-button"}}
					</div>
				{{else}}
					<h5>No start urls for this spider.</h5>
				{{/each}}
			</div>
			<div style="margin-top:10px">
				{{view ASTool.TextField value=newStartUrl width='262px' name='startUrlTextField' placeholder='New start url'}}
				{{view ASTool.ButtonView action="addStartUrl" icon="ui-icon-circle-plus" label="Add url" disabled=hasStartUrl}}
			</div>
		</div>

		<h3>Exclude Patterns</h3>
		<div>
			<div class="scrolling-container ui-corner-all" style="max-height: 150px;">
				{{#each exclude_patterns}}
					<div style="margin: 4px 0px 4px 0px">
						{{view ASTool.ButtonView action="editExcludePattern" label=this minWidth='82%' title=this}}
						{{view ASTool.ButtonView action="deleteExcludePattern" argument=this icon="ui-icon-trash" class="textless-button"}}
					</div>
				{{else}}
					<h5>No excluded patterns for this spider</h5>
				{{/each}}
			</div>
			<div style="margin-top:10px">
				{{view ASTool.TextField value=newExcludePattern width='236px' name='excludePatternTextField' placeholder='New exclude pattern'}}
				{{view ASTool.ButtonView action="addExcludePattern" icon="ui-icon-circle-plus" label="Add pattern" disabled=hasExcludePattern}}
			</div>
		</div>

		<h3>Links to follow</h3>
		<div>
			<div style="margin: 5px 0px 12px -20px; color: #0000FF;">
				{{view ASTool.FollowSelect value=links_to_follow}}
			</div>
			{{#if displayLinksToFollow}}
				<div class="scrolling-container ui-corner-all" style="max-height: 150px;">
					{{#each follow_patterns}}
						<div style="margin: 4px 0px 4px 0px">
							{{view ASTool.ButtonView label=this minWidth='82%' title=this}}
							{{view ASTool.ButtonView action="deleteFollowPattern" argument=this icon="ui-icon-trash" class="textless-button"}}
						</div>
					{{else}}
						<h5>All links within the spider domain will be matched.</h5>
					{{/each}}
				</div>
				<div style="margin-top:10px">
					{{view ASTool.TextField value=newFollowPattern width='236px' name='followPatternTextField' placeholder='New follow pattern'}}
					{{view ASTool.ButtonView action="addFollowPattern" icon="ui-icon-circle-plus" label="Add pattern" disabled=hasFollowPattern}}
				</div>
			{{/if}}
			<hr/>
			{{view ASTool.CheckBox checked=respect_nofollow name="respectNoFollow"}}
			<span>Respect nofollow</span>
		</div>

		<h3>Login</h3>
		<div>
			<div>
				{{view ASTool.CheckBox checked=performLogin name="performLoginCheck"}}
				<label>Perform login</label>
			</div>
			{{#if performLogin}}
				<div class="scrolling-container ui-corner-all">
					<div>Url</div>
					{{view ASTool.TextField value=loginUrl width='286px' name='loginUrlField' placeholder='Login URL'}}
					<div style="margin-top:5px">User</div>
					{{view ASTool.TextField value=loginUser width='286px' name='loginUserField' placeholder='Login user'}}
					<div style="margin-top:5px">Password</div>
					{{view ASTool.TextField value=loginPassword width='286px' name='loginPasswordField' placeholder='Login password'}}
					<div style="margin-top:10px"></div>
				</div>
			{{/if}}
		</div>
		
		<h3>Templates</h3>
		<div>
			<div class="scrolling-container ui-corner-all" style="max-height: 150px;">
				{{#each templates}}
					<div style="margin: 4px 0px 4px 0px">
						{{view ASTool.ButtonView action="editTemplate" argument=this label=templateName minWidth='75%' title=url icon="ui-icon-wrench"}}
						{{view ASTool.ButtonView action="loadTemplate" argument=this icon="ui-icon-folder-open" class="textless-button"}}
						{{view ASTool.ButtonView action="deleteTemplate" argument=this icon="ui-icon-trash" class="textless-button"}}
					</div>
				{{else}}
					<h5>No templates for this spider</h5>
				{{/each}}
			</div>
		</div>

	</div>

	<div>
	</div>
	
	<hr/>
	{{view ASTool.ButtonView action="back" icon=" ui-icon-circle-triangle-w" label="Back to project"}}
	{{view ASTool.ButtonView action="undoChanges" icon="ui-icon-arrowreturnthick-1-w" label="Undo changes"}}
	{{view ASTool.ButtonView action="saveSpider" icon="ui-icon-disk" label="Apply changes"}}
</div>