<section id="window">
    <nav id="top-bar" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header navbar-left">
            {{partial 'branding'}}
        </div>
        {{url-bar class="navbar-form" role="navigation"}}
        <div class="navbar-right">
            {{outlet 'top-bar'}}
        </div>
    </nav>

    <section>
        {{outlet 'side-bar'}}
        <main>
            {{outlet 'main'}}
        </main>
    </section>
</section>
