<h3>Annotation</h3>
<form {{action "save" on="change"}}>
    <div class="checkbox">
        <label>
            {{input type="checkbox" name="required" checked=(mut annotation.required)}} Required
        </label>
    </div>
    <div class="form-group">
        <label for="selectionMode">Selection mode</label>
        {{select-box name="selectionMode" value=(mut selectionMode) valueAttribute='label' choices=selectionModeOptions onChange=(action "save")}}
    </div>
    {{#if (not-eq annotation.selectionMode 'auto')}}
        <div class="form-group">
            <label for="selector">Selector</label>
            {{input type="text" name="selector" class="form-control" value=annotation.selector readonly=true}}
        </div>
    {{/if}}
    <div class="form-group">
        <label for="attribute">Source</label>
        {{select-box name="attribute" value=(mut attribute) valueAttribute='name' choices=attributes onChange=(action "save")}}
    </div>
</form>
