<div class="overlay-box" style={{shadowStyle}}>
    <div class="overlay-box-background" style={{backgroundStyle}}></div>
</div>
<div class="overlay-icons">
    {{overlay-icon class="fa fa-plus-circle"}}
    {{overlay-icon class="fa fa-minus-circle"}}
    {{overlay-icon class="portia-icon portia-icon-selector"}}
</div>
