<div class="overlay-box" style="box-shadow: 0 1px 3px -2px {{color.shadow}};">
    <div class="overlay-box-background" style="background-color: {{color.main}};"></div>
</div>
<div class="overlay-icons">
    {{overlay-icon class="fa fa-plus-circle"}}
    {{overlay-icon class="fa fa-minus-circle"}}
    {{overlay-icon class="portia-icon portia-icon-selector"}}
</div>
