<div class="overlay-box" style={{shadowStyle}}>
    <div class="overlay-box-background" style={{backgroundStyle}}></div>
</div>
<div class="overlay-icons">
    {{overlay-icon class=(concat "fa " (if isSelectionMode "fa-check-circle" "fa-plus-circle")) click=(action (if isSelectionMode 'exitSelectionModeAndSave' 'addAnnotation'))}}
    {{overlay-icon class=(concat "fa " (if isSelectionMode "fa-times-circle" "fa-minus-circle")) click=(action (if isSelectionMode 'exitSelectionModeAndRollback' 'removeAnnotation'))}}
    {{#unless isSelectionMode}}
        {{overlay-icon class="portia-icon portia-icon-selector" click=(action 'enterSelectionMode')}}
    {{/unless}}
</div>
