<div class="browser-navigation panel-heading">
    {{url-bar class="navbar-form" role="navigation"}}
    <div class="browser-toolbar">
        {{yield (hash section="toolbar")}}
    </div>
</div>
<div class="browser-banner{{unless webSocket.closed ' hide'}}">
    {{#if webSocket.connecting}}
        Connecting ...
    {{/if}}
    {{#if webSocket.secondsUntilReconnect }}
        Reconnecting to server in {{webSocket.secondsUntilReconnect}} seconds.
        {{#unless webSocket.reconnectImminent}}
            <a class="alert-link" {{action 'reconnectWebsocket'}}>Try Again</a>.
        {{/unless}}
    {{/if}}
</div>
<div class="frame-container panel-body">
    <div class="overlay-container">
        {{yield (hash section="overlays")}}
    </div>
    {{browser-iframe clickHandler=(action 'viewPortClick')}}
</div>

<div class="browser-start-page {{if browser.url 'hide'}}">
    <img src="/assets/images/portia-logo.svg" alt="Portia logo">
    <div style="width: 20%; display: block;">
        <img src="/assets/images/yaoota-logo.png" alt="Yaoota logo" style="width: 100%; height: 100px;">
    </div>
    <h3>Do you want you port new merchant?</h3>
    {{url-bar class="navbar-form" role="navigation" autofocus=true}}
    {{#if uiState.models.project.spiders.length}}
        <p>
            You can also select one of your existing spiders from the sidebar.
        </p>
    {{/if}}
</div>
