{{#dropdown-widget class="combo-box" open=(mut open) focusMenu=false active=(mut viewValue) focused=value activeQuery=query matchQuery=matchQuery menuContainer=menuContainer menuClass=menuClass menuAlign=menuAlign on-close=(action 'menuClosed') as |options|}}
    {{#if (eq options.section 'widget')}}
        <div class="combo-input">
            {{input id=inputId type="text" class=(concat "form-control dropdown-toggle " inputClass) value=queryOrValue escape-press=(action options.closeMenu 'escape') focus-in=(action (chain-actions options.openMenu options.focusIn)) focus-out=(action (chain-actions options.focusOut (action 'restoreFocus'))) spellcheck=spellcheck}}
            <span class="caret-container" {{action options.closeMenu 'button'}}>
                <span class="caret"></span>
            </span>
        </div>
        {{currentValue}}
    {{else if (eq options.section 'menu')}}
        {{#if hasBlock}}
            {{yield (hash menu=options.menu setValue=(action 'setValue') setViewValue=(action 'setViewValue') setValueAndClose=(action 'setValueAndClose') closeMenu=options.closeMenu)}}
        {{else}}
            {{#each choices as |choice|}}
                {{#dropdown-item menu=options.menu value=choice action=(action 'setValueAndClose' choice)}}
                    {{#if valueAttribute}}
                        {{get choice valueAttribute}}
                    {{else}}
                        {{choice}}
                    {{/if}}
                {{/dropdown-item}}
            {{/each}}
        {{/if}}
    {{/if}}
{{/dropdown-widget}}
