{{#if editableSample}}
    {{#link-to 'projects.project.spider.sample' editableSample class="btn btn-primary"}}
        {{icon-button icon='sample'}} Edit sample
    {{/link-to}}
{{else}}
    <button type="button" class="btn btn-primary" disabled={{not canAddSample}} {{action "addSample"}}>
        {{icon-button icon='sample'}} New sample
    </button>
{{/if}}
