{{#if editableSample}}
    {{#link-to 'projects.project.spider.sample' editableSample class="btn btn-primary"}}
        {{icon-button icon='sample'}} Edit sample
    {{/link-to}}
{{else}}
    {{#tooltip-container tooltipFor="add-spider-browser-button" tooltipContainer='body' as |options|}}
        {{#if (eq options.section 'tooltip')}}
            {{#unless editableSample}}
                Create a new sample from the current page so you can start annotating the data you want to extract
                {{#unless sameDomain}}
                    <p>
                        This spider is from a different domain to your spider. Maybe you would like to create a new spider for this sample?
                    </p>
                {{/unless}}
            {{/unless}}
        {{else}}
            <button id="add-spider-browser-button" type="button" class="btn btn-primary" disabled={{disableSample}} {{action "addSample"}}>
                {{icon-button icon='sample'}} New sample
            </button>
        {{/if}}
    {{/tooltip-container}}
{{/if}}
