{{#if selecting}}
    {{#if hasBlock}}
        {{#combo-box choices=choices value=(mut value) valueAttribute=valueAttribute matchQuery=matchQuery open=(mut selecting) change=change autoSelect=autoSelect inputClass=(concat "input-list-item " inputClass) menuClass=menuClass menuAlign=menuAlign menuContainer=menuContainer as |options|}}
            {{yield options}}
        {{/combo-box}}
    {{else}}
        {{combo-box choices=choices value=(mut value) valueAttribute=valueAttribute matchQuery=matchQuery open=(mut selecting) change=change autoSelect=autoSelect inputClass=(concat "input-list-item " inputClass) menuClass=menuClass menuAlign=menuAlign menuContainer=menuContainer}}
    {{/if}}
{{else}}
    <div class="list-item-selectable-container">
        {{#if valueAttribute}}
            {{get value valueAttribute}}
        {{else}}
            {{value}}
        {{/if}}
        <a {{action 'startSelecting'}}>
            <span class="caret"></span>
        </a>
    </div>
{{/if}}
