{{#tree-list hide=currentSchema}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
              Spider{{#animation-container class="inline" hide=currentSpider setHeight=false}}s {{/animation-container}}&nbsp;{{pagination}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        Spiders
                        <p>
                            A spider crawls web pages to extract data.
                        </p>
                        <p>
                            It is most common to create a spider for each website you wish to crawl, but
                            a single spider can also crawl more than one website.
                        </p>
                        <p>
                            To create a spider first visit a web page that you would like to start
                            crawling from.
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
                {{spider-message currentSpider=currentSpider}}
            {{/list-item-text}}
            {{#tooltip-container tooltipFor="add-spider-button" text=addSpiderTooltipText tooltipContainer='body'}}
                {{list-item-icon id="add-spider-button" icon='add' disabled=(not canAddSpider) action=(action 'addSpider')}}
            {{/tooltip-container}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item hide=(or project.spiders.isPending project.spiders.length) as |options|}}
                {{#list-item-text class="text-center"}}
                    This project has no spiders
                {{/list-item-text}}
            {{/tree-list-item}}
            {{#tree-list-item hide=(or project.spiders.isPending project.spiders.length) class="help" as |options|}}
                <div class="alert alert-info" role="alert">
                    <p>
                        To create a spider first visit a web page that you would like to start
                        crawling from.
                    </p>
                </div>
            {{/tree-list-item}}

            {{#if (and noCurrentSpider isLarge)}}
                {{#tree-list-item}}
                    <input
                     class='form-control'
                     placeholder='Search for your spider'
                     value={{spiderSearch}}
                     oninput={{perform filterSpiders
                              sortedSpiders
                              value='target.value'}}
                    />
                {{/tree-list-item}}
            {{/if}}

            {{#if (and noCurrentSpider hasPreviousPage)}}
                {{#tree-list-item isCentered=true}}
                    <i
                     onclick={{perform turnPage -1}}
                     class='fa fa-angle-up twice-x clickable'>
                    </i>
                {{/tree-list-item}}
            {{/if}}

            <div class={{if isFiltering 'very-opaque'}}>
            {{#each spiders as |spider|}}
                {{#tree-list-item hide=(and currentSpider (not-eq spider currentSpider)) as |options|}}
                    {{#link-to 'projects.project.spider' spider (query-params url=(or spider.firstUrl null) baseurl=null) current-when='projects.project.spider'}}
                        {{spider-indentation spider=spider currentSpider=currentSpider}}
                        {{list-item-icon icon='spider'}}

                        {{#if currentSpider}}
                            {{#list-item-text}}{{spider.nameAlias}}{{/list-item-text}}
                        {{else}}
                            {{list-item-editable value=(mut spider.nameAlias) onChange=(action 'saveSpiderName' spider) validate=(action 'validateSpiderName' spider)}}
                        {{/if}}
                        {{#animation-container class="icon" setWidth=false setHeight=false}}
                            {{list-item-icon icon='remove' action=(action 'removeSpider' spider) bubbles=false}}
                        {{/animation-container}}
                        {{#animation-container class="icon" hide=(not-eq spider currentSpider) setWidth=false setHeight=false}}
                            {{#tooltip-container tooltipFor=(concat "spider-options-button" (guid spider)) text="Advanced spider options" tooltipContainer='body'}}
                                {{#link-to 'projects.project.spider' id=(concat "spider-options-button" (guid spider)) bubbles=false}}
                                    {{#link-to 'projects.project.spider.options' bubbles=false class="ignore-active"}}
                                        {{list-item-icon icon='options'}}
                                    {{/link-to}}
                                {{/link-to}}
                            {{/tooltip-container}}
                        {{/animation-container}}
                        {{#animation-container class="icon" hide=(not-eq spider currentSpider) setWidth=false setHeight=false}}
                            {{#tooltip-container tooltipFor=(concat "spider-close-button" (guid spider)) text="Close spider" tooltipContainer='body'}}
                                {{#link-to 'projects.project' id=(concat "spider-close-button" (guid spider)) bubbles=false}}
                                    {{list-item-icon icon='close'}}
                                {{/link-to}}
                            {{/tooltip-container}}
                        {{/animation-container}}
                    {{/link-to}}
                {{/tree-list-item}}
            {{/each}}
            </div>

            {{#if (and noCurrentSpider hasNextPage)}}
                {{#tree-list-item isCentered=true}}
                    <i
                     onclick={{perform turnPage 1}}
                     class='fa fa-angle-down twice-x clickable'>
                    </i>
                {{/tree-list-item}}
            {{/if}}

        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}


