{{#tooltip-container tooltipFor=(concat "label-" uniqueId) tooltipContainer='body' as |tooltip|}}
    {{#if (eq tooltip.section 'tooltip')}}
        <p class="first">Every change you make is automatically saved by Portia</p>
    {{else}}
        <span id="label-{{uniqueId}}" class="label label-{{labelColorClass}}">
            {{#if isSaving}}
                Saving <span>.</span><span>.</span><span>.</span>
            {{else if timeSinceLastSave}}
                Last saved {{timeSinceLastSave}}
            {{else}}
                Changes are saved automatically
            {{/if}}
        </span>
    {{/if}}
{{/tooltip-container}}
