{{#if portiaStableUrl}}
    <li>
        <a href="{{portiaStableUrl}}{{if currentProject (concat '/#/projects/' currentProject.id)}}" {{action 'setPreference' preventDefault=false}}>
            Switch to previous Portia UI
        </a>
    </li>
{{/if}}
{{#if dashUrl}}
    <li>
        <a href="{{dashUrl}}{{if currentProject (concat '/p/' currentProject.id '/jobs/')}}">
            Scrapinghub Dashboard
        </a>
    </li>
{{/if}}
<li>
    <a href="http://portia.readthedocs.org/en/2.0-docs/" target="_blank">
        Portia 2.0 Documentation
    </a>
</li>
