{{#dropdown-widget class="select-box" open=(mut open) focusMenu=true active=(mut viewValue) focused=value menuContainer=menuContainer menuClass=(concat 'select-box-dropdown ' menuClass) menuAlign=menuAlign on-close=(action 'menuClosed') as |options|}}
    {{#if (eq options.section 'widget')}}
        <button class="btn btn-default form-control dropdown-toggle {{if buttonClass buttonClass}}" type="button" name={{name}} aria-haspopup="true" aria-expanded="true" {{action options.toggleMenu 'button'}}>
            <span>
                {{#with (if open viewValue value) as |displayValue|}}
                    {{#if valueAttribute}}
                        {{get displayValue valueAttribute}}
                    {{else}}
                        {{displayValue}}
                    {{/if}}
                {{/with}}
            </span>
            <span class="caret"></span>
        </button>
    {{else if (eq options.section 'menu')}}
        {{#if hasBlock}}
            {{yield (hash menu=options.menu setValue=(action 'setValue') setViewValue=(action 'setViewValue') setValueAndClose=(action 'setValueAndClose') closeMenu=options.closeMenu)}}
        {{else}}
            {{#each choices as |choice|}}
                {{#dropdown-item menu=options.menu value=choice action=(action 'setValueAndClose' choice)}}
                    {{#if valueAttribute}}
                        {{get choice valueAttribute}}
                    {{else}}
                        {{choice}}
                    {{/if}}
                {{/dropdown-item}}
            {{/each}}
        {{/if}}
    {{/if}}
{{/dropdown-widget}}
