{{yield (hash section='body')}}
<div class="tooltip" role="tooltip" data-tooltip-id="{{elementId}}">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-content">
        {{#if text}}
            {{text}}
        {{else}}
            {{yield (hash section='tooltip')}}
        {{/if}}
    </div>
</div>
