
<div style="text-align:center;font-size:1.1em;margin:10px 0px 10px 0px">
	{{#inline-editable-text-field text=model.name validation='^[a-zA-Z0-9_-]+$' name=spiderName action='rename'}}
		Spider {{model.name}}
	{{/inline-editable-text-field}}
</div>

{{#closable-accordion configName='bs' selected-idx=0}}
    {{#accordion-item title="Initialization"}}
        <div class="row">
            <div class="col-xs-8">
                <h4>Start Pages</h4>
            </div>
            <div class="col-xs-4 start-url-badge button-spacer">
                {{bs-badge class="pull-right btn-primary" content=startUrlCount}}
                {{#bs-button type=editAllStartUrlsType clicked=editAllStartUrlsAction size="xs" disabled=hasStartUrls class="pull-right"}}
                    {{editAllStartUrlsText}}
                {{/bs-button}}
            </div>
        </div>
        <div class="scrolling-container" {{bind-attr style="tiny_box_style"}}>
            {{#each url in model.start_urls}}
                <div class="row">
                    <div class="col-xs-9 clickable-url">
                        {{#bs-button clicked="fetchPage" clickedParam=url type="light" title=url popoverPlacement='left'}}
                            {{url}}
                        {{/bs-button}}
                    </div>
                    <div class="col-xs-3 button-align">
                        {{copy-clipboard text=url}}
                        {{bs-button clicked="deleteStartUrl" clickedParam=url icon="fa fa-icon fa-trash" type="danger" size="xs"}}
                    </div>
                </div>
            {{else}}
                <h5>No start pages for this spider.</h5>
            {{/each}}
        </div>

        {{text-area-with-button placeholder='Enter one or multiple start page urls here' action=startUrlsAction reset=true value=startUrls}}

        <div style="margin-top:20px" class="scrolling-container">
            <span class="important-label">Perform login</span>
            {{check-box checked=performLogin name="performLoginCheck"}}
            {{inline-help message="perform_login"}}
        </div>

        {{#if performLogin}}
            <div class="scrolling-container" {{bind-attr style="ex_tiny_box_style"}}>
                <div style="margin-top:10px"></div>
                {{text-field value=loginUrl name='loginUrl' width='94%' placeholder='Login URL' action='updateLoginInfo' update='addInitRequest'}}
                <div style="margin-top:5px"></div>
                {{text-field value=loginUser name='loginUser' width='94%' placeholder='Login user' action='updateLoginInfo' update='addInitRequest'}}
                <div style="margin-top:5px"></div>
                {{text-field value=loginPassword name='loginPassword' width='94%' placeholder='Login password' action='updateLoginInfo' update='addInitRequest'}}
            </div>
        {{/if}}
    {{/accordion-item}}

    {{#accordion-item title="Crawling"}}
        <div class="scrolling-container" {{bind-attr style="mid_box_style"}}>
            {{item-select options=followPatternOptions value=controller.links_to_follow}}
            <div style="margin-top:10px">
                {{check-box checked=showLinks name="showLinks"}}
                <span class="important-label">Overlay blocked links</span>
                {{inline-help message="overlay_blocked_links"}}
            </div>
            {{#if displayNofollow}}
                <div style="margin-top:10px;margin-bottom:10px">
                    {{check-box checked=model.respect_nofollow name="respectNoFollow"}}
                    <span class="important-label">Respect nofollow</span>
                </div>
            {{/if}}

            {{#if displayEditPatterns}}
                <h4>Follow links that match this patterns</h4>
                {{inline-help message="follow_links"}}
                <div class="scrolling-container" style="{{ex_tiny_box_style}}">
                    {{#each model.follow_patterns as |pattern index|}}
                        {{display-button-edit-delete save='editFollowPattern' delete='deleteFollowPattern' text=pattern name=index}}
                    {{else}}
                        <div class="col-xs-12">
                            <h5>No follow patterns defined yet.</h5>
                        </div>
                    {{/each}}
                </div>
                <div style="margin-top:10px"></div>
                {{text-field-with-button action='addFollowPattern' placeholder='New follow pattern' reset=true}}

                <div style="margin-top:10px"></div>

                <h4>Exclude links that match this patterns</h4>
                {{inline-help message="exclude_links"}}
                <div class="scrolling-container" style="{{ex_tiny_box_style}}">
                    {{#each model.exclude_patterns as |pattern index|}}
                        {{display-button-edit-delete save='editExcludePattern' delete='deleteExcludePattern' text=pattern name=index}}
                    {{else}}
                        <div class="col-xs-12">
                            <h5>No exclude patterns defined yet.</h5>
                        </div>
                    {{/each}}
                </div>
                <div style="margin-top:10px"></div>
                {{text-field-with-button action='addExcludePattern' placeholder='New exclude pattern' reset=true}}
            {{/if}}
        </div>
    {{/accordion-item}}

    {{#accordion-item title="Templates"}}
        <div class="scrolling-container" {{bind-attr style="mid_box_style"}}>
            {{#each templ in model.template_names}}
                <div class="row">
                    <div class="col-xs-9 clickable-url">
                        {{#bs-button clicked="editTemplate" clickedParam=templ title=url type="light"}}
                            {{templ}}
                        {{/bs-button}}
                    </div>
                    <div class="col-xs-3 button-align-sm">
                        {{bs-button clicked="viewTemplate" clickedParam=templ icon=" fa fa-icon fa-external-link" type="primary" size="xs"}}
                        {{bs-button clicked="deleteTemplate" clickedParam=templ icon="fa fa-icon fa-trash" type="danger" size="xs"}}
                    </div>
                </div>
            {{else}}
                <h5>No templates exist for this spider yet.</h5>
            {{/each}}
        </div>
    {{/accordion-item}}
{{/closable-accordion}}

<div style="margin-top:10px;text-align:center">
		{{#bs-button clicked="testSpider" clickedParam=this icon="fa fa-icon fa-check" type="primary" title="Tests the spider on every start URL."}}
			{{controller.testButtonLabel}}
		{{/bs-button}}
</div>
