<div class="nav-container button-align">
	<div style="float:left">
		{{bs-button clicked="browseBack" icon="fa fa-icon fa-arrow-left" size="sm" disabled=browseBackDisabled}}
	</div>
	<div style="float:left">
		{{bs-button clicked="reload" icon="fa fa-icon fa-refresh" size="sm" disabled=reloadDisabled}}
	</div>

	<div class="url">
		{{#if isFetching }}
			{{#label-with-tooltip title="Loading page..."}}
				Loading page...
			{{/label-with-tooltip}}
		{{else}}
			{{#inline-editable-text-field text=documentView.currentUrl placeholder='http://' action='navigate'}}
				{{controller.urlLabel}}
			{{/inline-editable-text-field}}
		{{/if}}
	</div>
</div>

<div class="nav-container button-align white-text">
	{{#unless addTemplateDisabled}}
		{{#bs-button type="danger" clicked="addTemplate" size="sm"}}
			Annotate this page
		{{/bs-button}}
	{{/unless}}

	{{#if haveItems}}
		{{#bs-button clicked="toggleShowItems" type="black" size="sm"}}
			{{itemsButtonLabel}}
		{{/bs-button}}
	{{/if}}

	{{#if showNoItemsExtracted}}
		{{bs-label content="No items extracted" type="info"}}
	{{/if}}

	{{#if saving}}
		{{bs-label content="Saving Spider" type="warning"}}
	{{/if}}
</div>

{{#if showItems}}
	{{#if haveItems }}
		<div class="extracted-items-container">
			<span style="float:right">
				{{bs-button clicked="toggleShowItems" size="sm" type="light" icon="fa fa-icon fa-close"}}
			</span>
			<h3 style="text-align:center" class="important-label">Displaying {{controller.extractedItems.length}} extracted items</h3>
			<div style="max-height:500px; padding:8px;" class="scrolling-container">
				{{#each item in controller.extractedItems}}
					<hr style="margin:0px;background-color:rgba(70,70,70,1)"/>
					<div style="padding:10px 0px 10px 0px; border-bottom: 1px groove rgba(255,255,255,0.2);">
						{{extracted-item extractedItem=item loadUrl="loadUrl" editTemplate="editTemplate"}}
					</div>
				{{/each}}
			</div>
		</div>
	{{/if}}
{{/if}}
