<span>Tools</span>

<div class="tool-bar">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default {{if magicToolActive 'active'}}" {{action 'toggleMagicTool'}}>
            {{icon-button icon='tool-magic'}}
        </button>
    </div>

    <div class="btn-group" role="group">
        {{#each-in selectionModeIcons as |mode icon|}}
            <button type="button" class="btn btn-default {{if (eq activeSelectionMode mode) 'active'}}" {{action (action (mut selectionMode) mode)}}>
                {{icon-button icon=icon}}
            </button>
        {{/each-in}}
    </div>
</div>
