<span>Tools</span>

<div class="tool-bar">
    <div class="btn-group" role="group">
        {{#tooltip-container tooltipFor="magic-tool-button" tooltipContainer='body' as |options| }}
            {{#if (eq options.section 'tooltip')}}
                {{#if magicToolActive}}
                    Manually select the tool you want to use
                {{else}}
                    Select appropriate tool automatically
                {{/if}}
            {{else}}
                <button id="magic-tool-button" type="button" class="btn btn-default {{if magicToolActive 'active'}}" {{action 'toggleMagicTool'}}>
                    {{icon-button icon='tool-magic'}}
                </button>
            {{/if}}
        {{/tooltip-container}}
    </div>

    <div class="btn-group" role="group">
        {{#each-in selectionModeIcons as |mode icon|}}
            {{#tooltip-container tooltipFor=(object-get selectionModeIds mode) tooltipContainer='body' text=(object-get selectionModeText mode) }}
                <button id={{object-get selectionModeIds mode}} type="button" class="btn btn-default {{if (eq activeSelectionMode mode) 'active'}}" {{action (action (mut selectionMode) mode)}}>
                    {{icon-button icon=icon}}
                </button>
            {{/tooltip-container}}
        {{/each-in}}
    </div>
</div>
