<div style="text-align:center;font-size:1.1em;margin:10px 0px 10px 0px">
	{{#inline-editable-text-field text=content.name validation='^[a-zA-Z0-9_-]+$' name='content.name' action='updateField'}}
		Template {{content.name}}
	{{/inline-editable-text-field}}
</div>

{{#closable-accordion configName='bs' selected-idx=0}}
	{{#accordion-item title="Annotations"}}
		{{#if activeExtractionTool.data.extracts}}
			<div class="scrolling-container" {{bind-attr style="mid_box_style"}}>
				{{#each anno in activeExtractionTool.data.extracts}}
					{{component activeExtractionTool.component data=anno alldata=activeExtractionTool.data.extracts item=scrapedItem createField="createField" close="hideFloatingAnnotationWidget" edit="editAnnotation" document=document pluginState=activeExtractionTool.pluginState sprites=activeExtractionTool.sprites extractionFieldTypes=extractionTypes updatePluginData="updatePluginField"}}
				{{/each}}
			</div>
		{{else}}
			<h5>No annotations have been created yet.</h5>
		{{/if}}
	{{/accordion-item}}

	{{#accordion-item title="Extracted item"}}
		<label class="small-label">Extracted item type:</label>
		{{item-select options=items value=controller.scrapedItem.id}}
		{{inline-help message="select_item"}}
		<div style="margin-top:10px">
			{{#bs-button clicked="editItems" type="primary" size="sm"}}
				Edit Items
			{{/bs-button}}
		</div>
	{{/accordion-item}}

	{{#accordion-item title="Extractors"}}
		<div class="scrolling-container" {{bind-attr style="ex_tiny_box_style"}}>
			{{#each field in mappedFieldsData}}
				{{#extractor-dropzone content=field.fieldName action="applyExtractor"}}
					<div class="target-container btn btn-light droppable">
						<span class="target"><b style="margin-right:10px">{{field.fieldName}}</b>[+Drop here]</span>
						{{#if field.extractors}}
							<div style="margin-top:10px"></div>
						{{/if}}
						{{#each ext in field.extractors}}
							<div style="margin:4px 0px 4px 0px">
								{{#draggable-button content=ext.extractor.id clicked="removeAppliedExtractor" clickedParam=ext class="draggable"}}
									<span>{{ext.type}} {{ext.label}}</span>
								{{/draggable-button}}
							</div>
						{{/each}}
					</div>
				{{/extractor-dropzone}}
			{{else}}
				<h5>No field mappings have been defined yet.</h5>
			{{/each}}
		</div>
		<div style="margin-top:10px"></div>
		<h4>Drag extractors to the fields above</h4>
		{{inline-help message="extractors"}}
		<div class="scrolling-container ui-corner-all" style="max-height:100px;">
			{{#each ext in displayExtractors}}
				<div style="margin:4px 0px 4px 0px">
					{{#draggable-button content=ext.extractor.id class="draggable"}}
						<span>{{ext.type}} {{ext.label}}</span>
					{{/draggable-button}}
					{{bs-button clicked="deleteExtractor" type="danger" size="xs" clickedParam=ext icon="fa fa-icon fa-trash"}}
				</div>
			{{else}}
				<h5>No extractors have been created yet.</h5>
			{{/each}}
		</div>
		{{text-field-dropdown-button options=extractionTypes default=newTypeExtractor placeholder="Enter a RegEx" action="createExtractor" class="create-extractor-container"}}
	{{/accordion-item}}

	{{#accordion-item title="Extracted fields"}}
		<span style="float:right">{{inline-help message="template_required"}}</span>
		<h4 style="width:92%">Check the fields you want to make required for this template:</h4>
		<div class="scrolling-container" {{bind-attr style="mid_box_style"}}>
			<div style="margin:15px auto;width: 100%;">
				<div class="row important-label">
					<div class="col-xs-5">Name</div><div class="col-xs-3">Required</div><div class="col-xs-3">Extracted</div>
				</div>
				{{#each field in mappedFieldsData}}
					<div class="row">
						<div class="col-xs-5 top-div">
							<div class="field-name">
								<span class="important-label">{{field.fieldName}}</span>
							</div>
						</div>
						<div class="col-xs-3">{{check-box checked=field.required value=field.fieldName disabled=field.disabled action='setRequired'}}</div>
						<div class="col-xs-3">{{check-box checked=field.extracted value="extracted" disabled=true action='setRequired'}}</div>
					</div>
				{{/each}}
			</div>
		</div>
	{{/accordion-item}}
{{/closable-accordion}}

{{#if showFloatingAnnotationWidgetAt}}
	{{component activeExtractionTool.component data=floatingAnnotation mappedElement=floatingElement alldata=activeExtractionTool.data.extracts item=scrapedItem createField="createField" close="hideFloatingAnnotationWidget" edit="editAnnotation" document=document pluginState=activeExtractionTool.pluginState sprites=activeExtractionTool.sprites extractionFieldTypes=extractionTypes inDoc=true pos=showFloatingAnnotationWidgetAt updatePluginData="updatePluginField"}}
{{/if}}